# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [ ]:
import pandas as pd
import numpy as np

# Assignment 1
# 1
df1 = pd.DataFrame(np.random.randint(0, 100, size=(6, 4)))
df1.set_index(df1.columns[0], inplace=True)
print(df1)

# 2
df2 = pd.DataFrame(np.random.randint(0, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
elem = df2.loc['Y', 'B']
print(df2)
print(elem)

# Assignment 2
# 1
df3 = pd.DataFrame(np.random.randint(0, 100, size=(5, 3)))
df3['D'] = df3[0] * df3[1]
print(df3)

# 2
df4 = pd.DataFrame(np.random.randint(0, 100, size=(4, 3)))
row_sum = df4.sum(axis=1)
col_sum = df4.sum(axis=0)
print(df4)
print(row_sum)
print(col_sum)

# Assignment 3
# 1
df5 = pd.DataFrame(np.random.randint(0, 100, size=(5, 3)).astype(float))
df5.iloc[0, 0] = np.nan
df5.fillna(df5.mean(), inplace=True)
print(df5)

# 2
df6 = pd.DataFrame(np.random.randint(0, 100, size=(6, 4)).astype(float))
df6.iloc[0, 0] = np.nan
df6.dropna(inplace=True)
print(df6)

# Assignment 4
# 1
df7 = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(0, 100, size=10)})
grouped = df7.groupby('Category').agg({'Value': ['sum', 'mean']})
print(grouped)

# 2
df8 = pd.DataFrame({'Product': np.random.choice(['P1', 'P2', 'P3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(0, 100, size=10)})
total_sales = df8.groupby('Category')['Sales'].sum()
print(total_sales)

     1   2   3
0
92  83  14  65
65  40  36  37
45  25  46  66
40  97  90  73
92  57  65  16
77  59  20  63
    A   B   C
X  96  53  70
Y  29  30  62
Z  57  35  51
30
    0   1   2     D
0  70  90  67  6300
1  19  86  53  1634
2  20  94  87  1880
3  47  56  25  2632
4  16  23  66   368
    0   1   2
0  45  65  38
1  48   6  59
2  42  54  48
3  78  30  68
0    148
1    113
2    144
3    176
dtype: int64
0    213
1    155
2    213
dtype: int64
       0     1     2
0  48.75  91.0   3.0
1  35.00  61.0  91.0
2  71.00  40.0  17.0
3  51.00  59.0   2.0
4  38.00  70.0  78.0
      0     1     2     3
1  44.0  94.0  36.0  23.0
2  92.0  80.0  98.0  67.0
3   6.0  78.0  74.0  29.0
4  92.0   9.0  23.0  19.0
5  78.0  53.0   0.0  81.0
         Value
           sum       mean
Category
A          100  33.333333
B          224  56.000000
C          116  38.666667
Category
A     70
B    213
C    251
Name: Sales, dtype: int32
  Key  Value1  Value2
0   A       1       4
1   B       2       5
      A     B     C     D     E     F
0  44.0  67.0  52.0   NaN   NaN   NaN
1  80.0  57.0   7.0   NaN   NaN   NaN
2  11.0  76.0  26.0   NaN   NaN   NaN
0   NaN   NaN   NaN  68.0  60.0  40.0
1   NaN   NaN   NaN  85.0  41.0  85.0
2   NaN   NaN   NaN  40.0  36.0  14.0
    A   B   C   D   E   F
0  44  67  52  68  60  40
1  80  57   7  85  41  85
2  11  76  26  40  36  14
                Value
2021-01-31  47.225806
2021-02-28  49.535714
2021-03-31  53.580645
2021-04-30  57.800000
                Value
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  60.571429
2021-12-28  49.571429
2021-12-29  49.285714
2021-12-30  42.285714
2021-12-31  47.571429

[365 rows x 1 columns]

In [4]:

# Assignment 5
# 1
df9 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]})
df10 = pd.DataFrame({'Key': ['A', 'B', 'D'], 'Value2': [4, 5, 6]})
merged = pd.merge(df9, df10, on='Key')
print(merged)

# 2
df11 = pd.DataFrame(np.random.randint(0, 100, size=(3, 3)), columns=['A', 'B', 'C'])
df12 = pd.DataFrame(np.random.randint(0, 100, size=(3, 3)), columns=['D', 'E', 'F'])
concat_rows = pd.concat([df11, df12], axis=0)
concat_cols = pd.concat([df11, df12], axis=1)
print(concat_rows)
print(concat_cols)

# Assignment 6
# 1
df13 = pd.DataFrame({'Value': np.random.randint(0, 100, size=100)}, index=pd.date_range('2021-01-01', periods=100))
monthly_mean = df13.resample('ME').mean()
print(monthly_mean)

# 2
df14 = pd.DataFrame({'Value': np.random.randint(0, 100, size=365)}, index=pd.date_range('2021-01-01', periods=365))
rolling_mean = df14.rolling(window=7).mean()
print(rolling_mean)

  Key  Value1  Value2
0   A       1       4
1   B       2       5
      A     B     C     D     E     F
0   2.0  17.0  12.0   NaN   NaN   NaN
1  15.0  58.0  10.0   NaN   NaN   NaN
2  26.0  28.0  55.0   NaN   NaN   NaN
0   NaN   NaN   NaN  60.0  18.0  96.0
1   NaN   NaN   NaN  74.0  29.0  91.0
2   NaN   NaN   NaN  59.0   0.0  63.0
    A   B   C   D   E   F
0   2  17  12  60  18  96
1  15  58  10  74  29  91
2  26  28  55  59   0  63
                Value
2021-01-31  55.290323
2021-02-28  50.821429
2021-03-31  51.806452
2021-04-30  47.700000
                Value
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  50.428571
2021-12-28  46.571429
2021-12-29  46.000000
2021-12-30  40.714286
2021-12-31  40.428571

[365 rows x 1 columns]